In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('jobs.csv')

In [3]:
print(df)

                            _id experience  \
0      62ee2d1d4dcd52f533910d18    2-7 Yrs
1      62ee2d1d4dcd52f533910d19    2-7 Yrs
2      62ee2d1d4dcd52f533910d1a   7-12 Yrs
3      62ee2d1d4dcd52f533910d1b    2-7 Yrs
4      62ee2d1d4dcd52f533910d1c    2-6 Yrs
...                         ...        ...
52823  62ee53874dcd52f53391dcbb    3-6 Yrs
52824  62ee53874dcd52f53391dcbc   6-11 Yrs
52825  62ee53874dcd52f53391dcbd    5-8 Yrs
52826  62ee53874dcd52f53391dcbe   6-11 Yrs
52827  62ee53874dcd52f53391dcbf    4-7 Yrs

                                                location  \
0                                                Chennai
1                                                 Mumbai
2                            Chennai,Bangalore/Bengaluru
3      Noida,Pune,Chennai,Bangalore/Bengaluru,Delhi /...
4             Hyderabad/Secunderabad,Bangalore/Bengaluru
...                                                  ...
52823                 Pune,Ahmedabad,Bangalore/Bengaluru
52824                             Hyderabad/Secunderabad
52825                 Pune,Ahmedabad,Bangalore/Bengaluru
52826                                            Chennai
52827                                Bangalore/Bengaluru

                          salary           search_type  \
0                  Not disclosed  Technical Consultant
1                  Not disclosed  Technical Consultant
2      11,00,000 - 21,00,000 PA.  Technical Consultant
3      10,00,000 - 20,00,000 PA.  Technical Consultant
4        4,00,000 - 9,00,000 PA.  Technical Consultant
...                          ...                   ...
52823              Not disclosed          Selenium API
52824              Not disclosed          Selenium API
52825              Not disclosed          Selenium API
52826              Not disclosed          Selenium API
52827              Not disclosed          Selenium API

                                                  skills  \
0      Microsoft Dynamics 365 F&O,Microsoft Dynamics ...
1      OAF,Oracle Apps Technical,EBS,Oracle Applicati...
2      oracle fusion,oracle cloud,IT Skills,Cloud,Ora...
3      ODI,BIP,OIC,OTBI,Dell Boomi,IT Skills,Cloud,Or...
4      Oracle Apps Technical,IT Skills,Cloud,Oracle,J...
...                                                  ...
52823  Agile,debugging,Selenium,verbal communication,...
52824  Rest Assured,automation testing,API Testing,IT...
52825  TDD,Java,Jenkins,analytical,Agile,written,verb...
52826  oral communication,VSTS,Automation Framework,S...
52827  SoapUI,API Testing,Selenium,ReadyAPI,Bash,PyTe...

                                                   title  \
0                  Dynamics 365 F&O Technical Consultant
1        Oracle Application Technical Consultant ( OAF )
2      Oracle Cloud/Fusion Technical Consultant :: Ch...
3                   Oracle Cloud Technical Consultant \n
4                Oracle Application Technical Consultant
...                                                  ...
52823               Software Engineer, QA (Selenium/API)
52824  Hiring For Automation Testing with Selenium, A...
52825        Senior Software Engineer, QA (Selenium/API)
52826                 Selenium - Java, API Test Engineer
52827   Automation Test Engineer - Selenium/ API Testing

                                                     url
0      https://www.naukri.com/job-listings-dynamics-3...
1      https://www.naukri.com/job-listings-oracle-app...
2      https://www.naukri.com/job-listings-oracle-clo...
3      https://www.naukri.com/job-listings-oracle-clo...
4      https://www.naukri.com/job-listings-oracle-app...
...                                                  ...
52823  https://www.naukri.com/job-listings-software-e...
52824  https://www.naukri.com/job-listings-hiring-for...
52825  https://www.naukri.com/job-listings-senior-sof...
52826  https://www.naukri.com/job-listings-selenium-j...
52827  https://www.naukri.com/job-listings-automation...

[52828 rows x 8 columns]

In [4]:
df.columns

Index(['_id', 'experience', 'location', 'salary', 'search_type', 'skills',
       'title', 'url'],
      dtype='object')

In [5]:
print(df)

                            _id experience  \
0      62ee2d1d4dcd52f533910d18    2-7 Yrs
1      62ee2d1d4dcd52f533910d19    2-7 Yrs
2      62ee2d1d4dcd52f533910d1a   7-12 Yrs
3      62ee2d1d4dcd52f533910d1b    2-7 Yrs
4      62ee2d1d4dcd52f533910d1c    2-6 Yrs
...                         ...        ...
52823  62ee53874dcd52f53391dcbb    3-6 Yrs
52824  62ee53874dcd52f53391dcbc   6-11 Yrs
52825  62ee53874dcd52f53391dcbd    5-8 Yrs
52826  62ee53874dcd52f53391dcbe   6-11 Yrs
52827  62ee53874dcd52f53391dcbf    4-7 Yrs

                                                location  \
0                                                Chennai
1                                                 Mumbai
2                            Chennai,Bangalore/Bengaluru
3      Noida,Pune,Chennai,Bangalore/Bengaluru,Delhi /...
4             Hyderabad/Secunderabad,Bangalore/Bengaluru
...                                                  ...
52823                 Pune,Ahmedabad,Bangalore/Bengaluru
52824                             Hyderabad/Secunderabad
52825                 Pune,Ahmedabad,Bangalore/Bengaluru
52826                                            Chennai
52827                                Bangalore/Bengaluru

                          salary           search_type  \
0                  Not disclosed  Technical Consultant
1                  Not disclosed  Technical Consultant
2      11,00,000 - 21,00,000 PA.  Technical Consultant
3      10,00,000 - 20,00,000 PA.  Technical Consultant
4        4,00,000 - 9,00,000 PA.  Technical Consultant
...                          ...                   ...
52823              Not disclosed          Selenium API
52824              Not disclosed          Selenium API
52825              Not disclosed          Selenium API
52826              Not disclosed          Selenium API
52827              Not disclosed          Selenium API

                                                  skills  \
0      Microsoft Dynamics 365 F&O,Microsoft Dynamics ...
1      OAF,Oracle Apps Technical,EBS,Oracle Applicati...
2      oracle fusion,oracle cloud,IT Skills,Cloud,Ora...
3      ODI,BIP,OIC,OTBI,Dell Boomi,IT Skills,Cloud,Or...
4      Oracle Apps Technical,IT Skills,Cloud,Oracle,J...
...                                                  ...
52823  Agile,debugging,Selenium,verbal communication,...
52824  Rest Assured,automation testing,API Testing,IT...
52825  TDD,Java,Jenkins,analytical,Agile,written,verb...
52826  oral communication,VSTS,Automation Framework,S...
52827  SoapUI,API Testing,Selenium,ReadyAPI,Bash,PyTe...

                                                   title  \
0                  Dynamics 365 F&O Technical Consultant
1        Oracle Application Technical Consultant ( OAF )
2      Oracle Cloud/Fusion Technical Consultant :: Ch...
3                   Oracle Cloud Technical Consultant \n
4                Oracle Application Technical Consultant
...                                                  ...
52823               Software Engineer, QA (Selenium/API)
52824  Hiring For Automation Testing with Selenium, A...
52825        Senior Software Engineer, QA (Selenium/API)
52826                 Selenium - Java, API Test Engineer
52827   Automation Test Engineer - Selenium/ API Testing

                                                     url
0      https://www.naukri.com/job-listings-dynamics-3...
1      https://www.naukri.com/job-listings-oracle-app...
2      https://www.naukri.com/job-listings-oracle-clo...
3      https://www.naukri.com/job-listings-oracle-clo...
4      https://www.naukri.com/job-listings-oracle-app...
...                                                  ...
52823  https://www.naukri.com/job-listings-software-e...
52824  https://www.naukri.com/job-listings-hiring-for...
52825  https://www.naukri.com/job-listings-senior-sof...
52826  https://www.naukri.com/job-listings-selenium-j...
52827  https://www.naukri.com/job-listings-automation...

[52828 rows x 8 columns]

In [6]:
df1=df[['skills','title']]

In [7]:
print(df1)

                                                  skills  \
0      Microsoft Dynamics 365 F&O,Microsoft Dynamics ...
1      OAF,Oracle Apps Technical,EBS,Oracle Applicati...
2      oracle fusion,oracle cloud,IT Skills,Cloud,Ora...
3      ODI,BIP,OIC,OTBI,Dell Boomi,IT Skills,Cloud,Or...
4      Oracle Apps Technical,IT Skills,Cloud,Oracle,J...
...                                                  ...
52823  Agile,debugging,Selenium,verbal communication,...
52824  Rest Assured,automation testing,API Testing,IT...
52825  TDD,Java,Jenkins,analytical,Agile,written,verb...
52826  oral communication,VSTS,Automation Framework,S...
52827  SoapUI,API Testing,Selenium,ReadyAPI,Bash,PyTe...

                                                   title
0                  Dynamics 365 F&O Technical Consultant
1        Oracle Application Technical Consultant ( OAF )
2      Oracle Cloud/Fusion Technical Consultant :: Ch...
3                   Oracle Cloud Technical Consultant \n
4                Oracle Application Technical Consultant
...                                                  ...
52823               Software Engineer, QA (Selenium/API)
52824  Hiring For Automation Testing with Selenium, A...
52825        Senior Software Engineer, QA (Selenium/API)
52826                 Selenium - Java, API Test Engineer
52827   Automation Test Engineer - Selenium/ API Testing

[52828 rows x 2 columns]

In [8]:
df1.columns

Index(['skills', 'title'], dtype='object')

In [9]:
df1.index

RangeIndex(start=0, stop=52828, step=1)

In [10]:
df1['skills'].shape

(52828,)

In [11]:
df2=df1.head(400)
df2

,skills,title
0,"Microsoft Dynamics 365 F&O,Microsoft Dynamics ...",Dynamics 365 F&O Technical Consultant
1,"OAF,Oracle Apps Technical,EBS,Oracle Applicati...",Oracle Application Technical Consultant ( OAF )
2,"oracle fusion,oracle cloud,IT Skills,Cloud,Ora...",Oracle Cloud/Fusion Technical Consultant :: Ch...
3,"ODI,BIP,OIC,OTBI,Dell Boomi,IT Skills,Cloud,Or...",Oracle Cloud Technical Consultant \n
4,"Oracle Apps Technical,IT Skills,Cloud,Oracle,J...",Oracle Application Technical Consultant
...,...,...
395,"Communication Skills,Written And Oral Communic...",Sales Consultant
396,".net core,asp.net,Asp Net,Oral Communication,W...",Dot net Microservices with Azure
397,"Program Management,Communication Skills,PMP,Pr...",Program Manager
398,"Communication And Interpersonal Skills,Communi...",Trainee Counsellor
399,"excel,oral communication,IT Skills,Project Man...","Operations Analyst, Associate"

In [12]:
df3=df2.copy()

In [13]:
skills=dict()
index=0
for i in df2['skills']:
  length=len(i)
  i=i[0:length]
  l=i.split(',')
  for j in l:
    j=j[0:len(j)]
    if j not in skills:
      skills[j]=index
      index=index+1

In [14]:
with open('skills','wb') as f:
  pickle.dump(skills,f)

In [31]:
with open('skills','rb') as f:
  skills=pickle.load(f)
print(skills)

{}

In [15]:
c=0
for i in df2['skills']:
  l1=[]
  l=i.split(',')
  for j in l:
    if j in skills.keys():
      l1.append(skills[j])
  df3['skills'][c]=l1
  c=c+1
c=0
for i in df3['title']:
  df3['title'][c]=i.replace("&","and")
  c=c+1

[0, 1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11]
[12, 13, 14, 15, 16, 10, 17, 18]
[19, 20, 21, 22, 23, 14, 15, 16]
[7, 14, 15, 16, 24, 25, 26, 27]
[28, 29, 30, 31, 32, 33, 34, 6]
[13, 35, 22, 36, 18, 37, 14, 15]
[38, 39, 5, 40, 41, 42, 43]
[44, 45, 46, 47, 48, 49, 50, 51]
[52, 53, 54, 24, 55]
[27, 10, 56, 57, 58, 59, 60, 32]
[61, 62, 63, 64]
[65, 66, 67, 68, 69, 70, 71, 72]
[8, 73, 56, 74, 75, 76, 77, 78]
[79, 80, 81, 82, 83, 84, 85, 86]
[87, 88, 89, 90, 91, 92, 93, 94]
[95, 96, 97, 98, 99, 14, 100, 101]
[102, 103, 104, 105, 106, 107, 108, 18]
[109, 51, 110, 111, 112, 14, 15, 113]
[114, 115, 116]
[117, 118, 119, 120, 121, 122, 123, 124]
[117, 125, 126, 120, 121, 127, 122, 128]
[126, 129, 130, 32, 131, 132, 133, 134]
[135, 121, 136, 137, 138, 133, 139, 140]
[141, 142, 143, 144, 145, 146, 147, 148]
[149, 150, 151, 146, 147, 148, 152, 153]
[143, 149, 50, 154, 155, 156, 157]
[50, 131, 158, 151, 159, 160, 121, 161]
[120, 121, 162, 163, 149, 164, 165]
[121, 162, 163, 149, 166, 120, 164, 165]
[121, 167, 168, 169, 170, 171, 172, 173]
[158, 174, 175, 176, 177, 178, 179, 180]
[181, 120, 182, 183, 184, 185, 186, 139]
[187, 188, 189, 190, 191, 192, 193]
[181, 183, 184, 194, 162, 133, 186, 139]
[149, 148, 195, 196, 146, 197, 162, 152]
[121, 162, 198, 149, 166, 120, 164, 199]
[14, 200, 201, 202, 70, 164, 203, 124]
[14, 55, 204, 24, 205, 206, 202, 32]
[151, 207, 208, 209]
[210, 211, 110, 212, 213, 214, 215, 51]
[216, 212, 217, 218, 219, 51, 220, 18]
[221, 222, 202, 32, 208, 223, 224, 225]
[210, 226, 227, 228, 229]
[230, 231, 232, 233, 234, 235, 236, 237]
[238, 239, 240, 18, 241, 242, 24, 243]
[244, 245, 157, 246, 247, 248, 249, 213]
[244, 245, 157, 246, 249, 219, 247, 248]
[250, 14, 24, 251, 213, 121, 252, 253]
[254, 212, 238, 255, 157, 256, 257, 32]
[244, 258, 219, 259, 260, 231, 261, 262]
[263, 264, 265, 266, 213, 212, 243, 218]
[267, 217, 268, 257, 256, 269, 270, 220]
[213, 208, 271, 245, 272, 273, 274, 275]
[251, 276, 213, 277, 231, 278, 279, 235]
[213, 280, 281, 282, 212, 223, 283, 121]
[211, 228, 284, 285, 286, 230, 287, 224]
[251, 212, 276, 288, 51, 245, 65, 289]
[290, 244, 271, 212, 14, 291, 292, 293]
[65, 250, 251, 294, 295, 200, 296, 297]
[298, 299, 300, 301, 302, 303, 304, 305]
[306, 307, 308, 184, 309, 110, 310, 55]
[311, 312, 313, 314, 315, 110, 316, 317]
[318, 319, 320, 321, 322, 323, 324, 325]
[200, 326, 327, 328, 70, 329, 330, 331]
[332, 333, 334, 335, 18, 14, 100, 336]
[14, 200, 100, 337]
[338, 326, 339, 340, 341, 342, 343, 331]
[344, 345, 346, 347, 348, 349, 350]
[351, 352, 353, 354, 355, 356, 357, 358]
[359, 360, 344, 300, 361, 362, 363]
[364, 365, 366, 314, 367, 368, 14, 100]
[338, 369, 370, 72, 371, 14, 100]
[333, 372, 373, 374, 299, 375, 200, 376]
[377, 378, 333, 330, 33, 200, 379, 380]
[381, 382, 377, 14, 200, 100, 383, 15]
[382, 377, 378, 14, 200, 100, 384, 15]
[100, 332, 335, 18, 14, 385, 382, 333]
[386, 318, 387, 388, 389, 390, 391, 392]
[393, 338, 311, 394, 395, 396, 397, 398]
[70, 399, 400, 16, 401, 402, 403, 404]
[16, 14, 291, 15, 405, 60, 406, 31]
[407, 408, 409, 410, 14, 405, 16, 411]
[402, 412, 408, 413, 414, 415, 404, 416]
[417, 415, 418, 14, 16, 404, 419, 18]
[402, 411, 412, 420, 421, 415, 404, 400]
[411, 401, 422, 415, 404, 416, 423, 424]
[425, 405, 417, 426, 16, 427, 404, 401]
[428, 429, 430, 407, 431, 432, 433, 434]
[428, 407, 431]
[435, 436, 401, 437, 407, 438, 409, 404]
[439, 407, 440, 441, 442, 443, 444, 445]
[404, 14, 50, 15, 16, 446, 447, 448]
[401, 449, 415, 407, 69, 14, 15, 405]
[450, 451, 452, 125, 453, 454, 407, 455]
[402, 456, 70, 457, 458, 459, 404, 16]
[411, 407, 435, 460, 461, 409]
[201, 407]
[402, 61, 125, 311, 457, 110, 415, 462]
[411, 463, 408, 407, 464, 401, 14, 405]
[66, 252, 465, 14, 57, 466, 467]
[468, 69, 224, 469, 470]
[471, 472, 473, 257, 474, 475, 476, 477]
[252, 478, 479, 480, 481, 482, 483, 484]
[252, 224, 110, 485, 486, 487, 488, 37]
[51, 489, 490, 250, 491, 492, 272, 243]
[252, 493, 224, 14, 50, 55, 204]
[494, 468, 495, 496, 224, 497, 498, 482]
[293, 499, 204, 500, 257, 490, 501, 55]
[50, 252]
[494, 502, 24, 252, 493, 475, 33, 503]
[493, 504, 55, 498, 505, 204, 506, 507]
[502, 252, 14, 291]
[502, 252, 14, 291]
[508, 509, 510, 511, 476, 110, 512, 498]
[513, 293, 200, 14, 50, 291, 24, 514]
[515, 516, 517, 501, 518, 252]
[519, 488, 51, 69, 520, 14, 15, 252]
[521, 468, 14, 522, 24, 69, 523, 524]
[252, 204, 525, 24, 526, 55, 478, 527]
[528, 529, 530]
[528, 531]
[532, 533, 534, 535, 536, 537, 538]
[206, 539, 540, 538, 198, 541, 542, 543]
[544, 545, 546, 547, 548, 549, 550, 551]
[552, 553, 309, 554, 555, 556, 557, 558]
[559, 560, 561, 562, 563, 564, 565, 566]
[567, 568, 569, 570, 571, 572, 573, 574]
[575, 576, 577, 578, 579, 580, 581, 582]
[528]
[583, 584, 585, 586, 587, 588, 589, 590]
[164, 183, 591, 592, 593, 330, 594, 595]
[596, 597, 429, 598, 599, 600, 538, 594]
[596, 597, 429, 396, 598, 599, 600, 538]
[596, 601, 602, 603, 604, 592, 605, 606]
[70, 607, 608, 609, 610, 611, 612, 14]
[592]
[613, 614, 592, 615, 600, 616, 617]
[618, 619, 620, 621, 622, 623, 624, 625]
[626, 311, 627, 628, 592, 629, 330, 630]
[631, 632, 633, 634, 635, 636, 637, 638]
[462, 639, 640, 641, 642, 643, 183, 644]
[183, 636, 645, 646, 647, 648, 649, 650]
[651, 652, 653, 654, 655, 656, 657, 658]
[659, 660, 655, 661, 662, 663, 658, 664]
[665, 666, 667, 668, 669, 635, 670, 462]
[663, 671, 635, 636, 462, 672, 631, 673]
[663, 671, 635, 636, 462, 672, 631, 673]
[674, 635, 645, 675, 672, 370, 673, 631]
[676, 677, 678, 668, 635, 462, 675, 673]
[200, 14, 15, 69, 65, 679, 678, 369]
[680, 681, 682, 683, 664, 637, 684, 685]
[676, 677, 678, 668, 635, 645, 675, 673]
[357, 635, 686, 687, 682, 637, 462, 688]
[689, 690, 635, 677, 686, 688, 637, 662]
[636, 14, 691, 450, 692, 693, 694, 695]
[636, 14, 691, 450, 692, 693, 694, 695]
[696, 697, 451, 698, 699, 667, 670, 700]
[450, 451, 701, 674, 702, 669, 310, 645]
[14, 522, 65, 311, 70, 703, 702, 462]
[288, 704, 705, 706, 707, 18, 14, 708]
[709, 233, 420, 710, 256, 77, 711, 14]
[712, 713, 714, 267, 212, 71, 715, 107]
[716, 717, 288, 718, 719]
[233, 720, 714, 721, 400, 722, 212]
[723, 724, 725, 726, 727, 714, 728, 729]
[14, 100, 730, 731, 732]
[288, 14, 708, 733, 128, 734, 735, 736]
[737, 453, 701, 738, 739, 740, 741, 708]
[213, 742, 288, 743, 744]
[745, 214, 18, 746, 212, 747]
[65, 748, 749, 18, 714, 715, 212, 14]
[257, 51, 55, 18, 256, 14, 708, 720]
[256, 55, 257, 18, 51, 14, 708, 720]
[750, 751, 711, 51, 77, 420, 256, 233]
[752, 51, 753, 751, 754, 212, 14, 708]
[755, 65, 259, 213, 756, 18, 288, 757]
[758, 708, 759, 206, 760, 722, 761, 762]
[14, 405, 16, 708, 436, 763, 412, 764]
[400, 212, 765, 708, 766, 767, 754, 768]
[522, 70, 769, 120, 770, 771, 772, 773]
[774, 18, 775, 776]
[522, 349, 777, 778, 779, 780, 781]
[782, 200]
[402, 783, 782, 784, 16, 785, 722, 18]
[70, 457, 786, 787, 788, 789, 790, 772]
[782, 69, 200, 791, 792, 94, 793, 369]
[782, 402, 794, 795, 796, 797, 798, 492]
[799, 800, 801, 802, 803, 311, 124, 10]
[522, 482, 782, 772, 804, 805, 402, 70]
[806, 807, 808, 110, 809, 51]
[200, 810, 330, 811, 14, 812, 813, 814]
[402, 815, 816, 14, 100, 817, 69, 782]
[294, 65, 522, 498, 70, 782, 15, 732]
[818, 819, 820, 821, 822, 32, 50, 782]
[819, 50, 70, 782, 32, 823, 304, 824]
[328, 825, 782, 14, 50, 200, 100, 16]
[826]
[827, 578, 828, 829, 830, 831, 832, 785]
[833, 70, 782, 304, 834, 835, 14, 291]
[836, 129, 837, 838, 264, 839, 55, 794]
[836, 129, 837, 838, 264, 839, 55, 840]
[402, 841, 842, 843, 844, 845, 846]
[847, 14, 100]
[50, 494, 291, 24, 848, 849, 56, 55]
[850, 851, 852, 853, 854, 855, 856, 857]
[246, 208, 50, 858, 809, 859, 860, 861]
[862, 863, 864, 865, 866, 867, 868, 869]
[870, 871, 872, 873, 874, 875, 876, 877]
[808, 878, 208, 879, 71, 880, 881, 882]
[883, 873]
[884, 658, 885, 56, 886, 887, 888, 889]
[66, 890, 891, 845, 476, 57, 452, 500]
[50, 882, 892, 14]
[326, 893, 328, 894, 895, 896, 702, 897]
[14, 100, 893, 898, 895, 899, 900, 897]
[901, 208, 902, 903, 904, 905, 50, 18]
[896, 906, 907, 110, 908]
[50, 817, 909, 51, 384, 14, 100, 910]
[596, 911, 912, 113, 913, 914, 915, 916]
[917, 918, 919, 920, 921, 14, 15, 922]
[923, 924, 925, 926, 927]
[757, 928, 929]
[928, 924, 930, 931, 932, 933, 934]
[935, 920, 936, 937, 938, 939, 928, 940]
[941, 935, 942, 920]
[943, 944, 945, 946, 947, 920, 948, 939]
[938, 949, 950, 951, 952, 924, 953, 954]
[896, 949, 194, 919, 955, 832, 956, 921]
[957, 578, 958, 757, 919, 959, 16, 960]
[961]
[962, 578, 963, 184, 964, 919, 965, 616]
[757, 924, 966, 967]
[968, 969, 967, 139, 970, 166]
[894, 129, 918, 971, 972, 973, 974, 975]
[928, 924, 945, 935, 920]
[976, 924, 977, 978, 757, 979, 193, 980]
[757, 981, 982]
[983, 984, 918, 949, 919, 935, 920, 921]
[827, 917, 918, 985, 919, 935, 986, 16]
[987, 898, 988, 989, 428, 990, 991, 992]
[802, 957, 898, 993, 994, 124, 995, 996]
[987, 898, 988, 949, 166, 428, 990, 991]
[50, 997, 998, 861, 999, 51, 194, 14]
[1000, 1001, 1002, 1003, 1004, 450, 451, 1005]
[402, 701, 70, 1006, 845, 457, 1007, 1008]
[1009, 1010, 1011, 995, 166]
[1012, 991, 1009, 1010, 1011, 995, 1013, 166]
[1009, 1014, 1010, 1011, 995, 166]
[1009, 1010, 1011, 995, 617, 166]
[450, 1015, 861, 205, 1016, 1017, 828, 995]
[991, 1018, 1019, 139, 1020, 956, 198, 1021]
[1009, 1010, 1011, 995]
[1022, 1023, 1024, 1025, 1026, 1027]
[1022, 1023, 1024, 1025, 1026, 1027]
[1022, 1023, 1024, 1025, 1026, 1027]
[988, 51, 166, 1028]
[1029, 1030, 1031, 1032, 514, 1033, 1034, 18]
[1035, 855, 1036]
[1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044]
[1045, 1046, 1047, 1048, 1049, 933, 1050, 1051]
[1052, 1053, 785, 1054, 1055, 1056, 1006, 16]
[402, 782, 10, 1057, 511, 1050, 249, 1058]
[774, 18, 775, 776]
[1059, 1060, 1061, 1062, 1046, 1063, 14, 578]
[10, 776]
[402, 783, 782, 784, 16, 785, 722, 18]
[1064, 1065, 725, 51, 256, 78]
[402, 815, 816, 14, 100, 817, 69, 782]
[402, 1066, 457, 711, 56, 1067, 1068, 14]
[1069, 1070, 18]
[1071, 837, 1072, 60, 1073, 10, 11, 1074]
[827, 578, 828, 829, 830, 831, 832, 785]
[18, 457, 1075, 402, 14, 16, 428, 1076]
[578, 51, 1077, 1078, 37, 1079, 1080, 1081]
[16, 1050, 236, 785, 1006, 1082, 1054, 792]
[1052, 1050, 236, 16, 785, 1006, 1082, 1054]
[1083, 14, 16, 1084, 1085, 1086, 1087, 1046]
[1088, 817, 1046, 1089, 110, 1090, 1091, 1092]
[412, 405, 70, 1093, 51, 457, 1094, 1095]
[1096, 1097, 1098, 198, 1099, 1100]
[1101, 1102, 1103, 1104, 1105, 1044, 1100]
[1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113]
[962, 1114, 181, 1018, 1115, 1116, 1117, 122]
[602, 1118, 1119, 1120, 1108, 1121, 1122, 1123]
[1124, 1125, 1126, 1127, 1108, 1121, 1123, 1128]
[1129, 1130, 1119, 1131, 1132, 1121, 1113, 1122]
[1101, 1133, 1134, 1121, 1135, 1136, 1137]
[1138, 1119, 1139, 1120, 1121, 1140, 1098, 1141]
[1142, 1109, 1143, 958, 1144, 1145, 1146, 1147]
[1148, 1149, 1108, 1121, 1122, 1123, 1150]
[1151]
[450, 1042, 1152, 1153]
[1154, 1155, 1156]
[1157, 1119, 1158, 1159, 1108, 1122, 1160, 1128]
[1161, 1162, 198, 1099, 1163, 1100]
[1164, 1149, 1165]
[1166, 1005, 1167, 1168, 1042, 1169]
[1157, 1118, 1121, 1128, 1170, 1171, 1125, 1119]
[1172, 1173, 1174, 1175, 1176, 1101, 1177, 1178]
[814, 291, 1179, 1180, 1181, 958, 32, 1182]
[1183, 1184, 754, 14, 200, 291, 100, 522]
[1185, 212, 276, 14, 291, 15, 204, 65]
[1186, 807, 1187, 14, 291, 1003, 1188, 451]
[1189, 1190, 1191, 1192, 51, 1193, 18, 1194]
[802, 120, 828, 24, 200, 203, 65, 479]
[1195, 1196, 1197, 1198, 1199, 132, 768, 1200]
[126, 1196, 1201, 132, 1202, 1203, 1204, 1205]
[1206, 1207, 14, 15, 910, 1208, 1209, 159]
[126, 130, 32, 131, 110, 132, 133, 1210]
[1211, 1212, 711, 1213, 77, 51, 1214, 1215]
[125, 120, 60, 488, 1216, 517, 1217, 132]
[338, 1218, 1219, 132, 1220, 317, 243, 1221]
[1222, 1223, 194, 1224, 132, 55, 1225, 1226]
[1227, 204, 1228, 206, 1229, 754, 24, 132]
[125, 773, 1230, 807, 202, 132, 1231, 245]
[1232, 455, 200, 51, 56, 1233, 236, 1234]
[1235, 1236, 285, 1237, 1238, 1206, 1208, 32]
[1239, 828, 1240, 796, 1241, 14, 291, 100]
[1242, 110, 488, 245, 1216, 120, 1243, 132]
[285, 1244, 1245, 1246, 1247, 1248, 1249, 754]
[1088, 336, 1250, 1251, 361, 1252, 1253, 1254]
[1255, 90, 1250, 278, 1256, 1249, 212, 243]
[1257, 1251, 361, 1252, 1253, 1088, 1254, 1258]
[1259, 14, 291, 213, 1260, 1261, 299, 1262]
[1263, 849, 258, 65, 1264, 1265, 1266, 220]
[1267, 14, 50, 57, 55, 204, 24, 772]
[562, 120, 1268, 1269, 1270, 51, 1271, 1272]
[1246, 590, 1273, 1274, 1275, 503, 311, 235]
[802, 828, 384, 317, 1276, 1213, 1277, 1258]
[1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285]
[1246, 217, 892, 65, 235, 1286, 205, 258]
[1287, 1288, 1289, 1290, 1291, 1292, 646, 1293]
[1294, 1295, 1296, 828, 110, 14, 100, 1297]
[1298, 1299, 1300, 1301, 228, 70, 205, 257]
[1302, 1246, 1286, 1303, 1304, 14, 65, 290]
[285, 244, 211, 14, 291, 100, 1246, 32]
[1305, 1088, 384, 1258, 14, 50, 100, 1306]
[213, 1307, 1308, 1309, 244, 251, 235, 212]
[1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317]
[1318, 1319, 1320, 139, 1321, 1322]
[428, 773, 1323, 1324, 1325, 110, 1326, 1327]
[1328, 312, 1329, 1330, 1017, 184, 1331, 1332]
[1328, 1333, 312, 1329, 1330, 184, 1331, 1332]
[1334, 917, 1073, 1335, 1336, 311, 1337, 1338]
[1328, 1330, 1339, 184, 194, 1331, 1332, 1340]
[1341, 1009, 1342, 1331, 956, 119, 1319, 139]
[1343, 949, 194, 18, 1331, 1344, 1345, 1346]
[61, 957, 453, 311, 918, 28, 935, 1337]
[1341, 1009, 1342, 1331, 956, 119, 1319, 139]
[1347, 1348, 1349]
[1347, 1350, 1349, 1351, 1352]
[1353, 1354, 1355, 1356, 1357, 1358, 1359, 299]
[1360, 1349, 1361, 1362, 1363, 1364, 1365, 243]
[1366, 1367, 14, 291, 522, 217, 1368, 1369]
[65, 110, 488, 69, 1365, 1349, 1370, 1371]
[857, 1372, 1365, 1373, 1363, 488, 1374, 1349]
[1375, 1376, 488, 1349, 1365]
[1377, 51, 1378, 1379, 1380, 1381, 1382, 1383]
[1369, 1384, 1375, 390, 1385, 110, 1386]
[1387]
[1387, 1388, 1389, 1390, 880]
[1391, 1392, 1393, 1394, 1395, 1396, 1397, 70]
[1398, 1399, 1400, 1395, 70, 1401, 1006, 684]
[1394, 1402, 1403, 374, 1404, 1272, 1405, 1406]
[299, 1015, 807, 1407]
[1408, 1391, 1409, 1410, 1411, 1412, 1413, 1414]
[807, 70, 1415, 1416, 1409, 958, 162, 1411]
[1387, 1114, 1115, 1417, 1418, 100]
[70, 1419, 807, 1420, 14, 291, 1421, 1417]
[117, 1422, 126, 1228, 120, 138, 1423, 1424]
[1425, 1426]
[1414, 1391, 1427, 1409, 1410, 590, 1411, 1428]
[1391, 195, 1429, 1430, 1387, 14, 100]
[807, 1431, 1432, 1433, 1434, 1435, 1436, 617]
[1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444]
[1391, 195, 1387, 1405]
[1391, 195, 1445, 1446, 1405]
[1445, 195, 1447]
[1387, 1417, 1448]
[1449, 602, 1450, 1451, 1452, 122, 1453, 935]
[1126, 1005, 450, 1454, 1455, 1456, 1457, 1458]
[1459, 1460, 1461, 428, 1462, 1463, 1464, 1457]
[963, 1465, 1466, 1467, 913, 1330, 1468, 1469]
[1126, 1005, 1004, 1067, 711, 1470, 451, 1471]
[1472, 1473, 1474, 1475, 1476, 1477, 1478, 1067]
[1479, 1067, 711, 1480, 1481, 1482, 1483, 1484]
[1485, 1486, 1487, 1488, 1489, 1490, 1457]
[1491, 1126, 963, 913, 1486, 1492, 1493, 933]
[1491, 1126, 963, 913, 1486, 1492, 1493, 933]
[1491, 1126, 963, 913, 1486, 1492, 1493, 933]
[1491, 1126, 963, 913, 1486, 1492, 1493, 933]
[1491, 1126, 1494, 1486, 1495, 1496]
[1497, 1498, 1499, 1500, 1501]
[1502, 1491, 1503, 1504, 602, 711, 77, 1505]
[1126, 1491, 1506]
[1246, 230, 1507, 1457, 1508, 65, 892, 14]
[1509, 1126, 1510, 691, 1511, 1512, 1457, 933]
[1495, 1126, 1491, 963, 913, 933, 1493, 1513]
[1488, 1067, 14, 691, 1514, 450, 692, 1515]

In [16]:
df3

,skills,title
0,"[0, 1, 2, 3, 4, 5]",Dynamics 365 FandO Technical Consultant
1,"[6, 7, 8, 9, 10, 11]",Oracle Application Technical Consultant ( OAF )
2,"[12, 13, 14, 15, 16, 10, 17, 18]",Oracle Cloud/Fusion Technical Consultant :: Ch...
3,"[19, 20, 21, 22, 23, 14, 15, 16]",Oracle Cloud Technical Consultant \n
4,"[7, 14, 15, 16, 24, 25, 26, 27]",Oracle Application Technical Consultant
...,...,...
395,"[1126, 1491, 1506]",Sales Consultant
396,"[1246, 230, 1507, 1457, 1508, 65, 892, 14]",Dot net Microservices with Azure
397,"[1509, 1126, 1510, 691, 1511, 1512, 1457, 933]",Program Manager
398,"[1495, 1126, 1491, 963, 913, 933, 1493, 1513]",Trainee Counsellor
399,"[1488, 1067, 14, 691, 1514, 450, 692, 1515]","Operations Analyst, Associate"

In [17]:
with open('data','wb') as f:
  pickle.dump(df3,f)

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')

In [ ]:
tfidf_matrix = tfidf.fit_transform(df3['title'])

In [ ]:
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [ ]:
indices=pd.Series(df1.index, index=df1['skills']).drop_duplicates()

In [ ]:

def get_recommendation(sks,jobs,cosine_sim=cosine_sim):
    skill = []
    for i in sks:
      skill.append(skills[i])

    jobs=dict()
    for i in skill:
      idx=indices[i]
      sim_scores=list(enumerate(cosine_sim[idx]))
      sim_scores=sorted(sim_scores,key=lambda X: X[1], reverse=True)
      sim_scores=sim_scores[0:5]
      for j in sim_scores:
        jobs.update({j[0]: j[1]})
    jobs=sorted(jobs.items(), key=lambda x:x[1], reverse=True)
    tech_indices=[i[0] for i in jobs]
    return jobs[0:10],tech_indices[0:10]


jobs={}
jobs,tech_indices = get_recommendation(['HTML','CSS','Javascript','Java'],jobs)
x = df3['title'].iloc[tech_indices]
y=[]
for i in jobs:
  y.append(i[1])
x=set(x)
y=set(y)

In [ ]:
jobs_scores=pd.DataFrame(list(zip(x, y)),columns =['jobs', 'scores'])
jobs_scores

In [ ]:
def percentage_match():
    plt.barh(jobs_scores['jobs'], jobs_scores['scores'], color = 'b')
    plt.title('Percent Match of Job Type')

In [ ]:
with open('model_pickle','wb') as f:
  pickle.dump(cosine_sim,f)